Ticket: {{ (ticket$ | async)?.id }}, {{ (ticket$ | async)?.description }}
<mat-form-field appearance="fill">
    <mat-label>Assigned to</mat-label>
    <mat-select  [(value)]="selected" (selectionChange)="selectionUserChange($event)">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let user of users$ | async" [value]="user.id">
            {{user.name}}
        </mat-option>
    </mat-select>
</mat-form-field>

Assignee user : {{ (user$ | async)?.name  }}
<button routerLink="/">Back</button>